# poms config
poms.username=****
poms.password=****
poms.url=https://api-test.poms.omroep.nl/
poms.image_url=http://images-test.poms.omroep.nl/image/
poms.errors=joostaafjes@gmail.com

# poms collection config
poms.input.collections_mid=POMS_S_VPRO_1416538
poms.output.collections_mid=POMS_S_VPRO_1414788
poms.output.collections_mid.en=POMS_S_VPRO_1409252
poms.output.collections_mid.ar=POMS_S_VPRO_1409087


# download.omroep.nl config - target
download.url.base=http://download.omroep.nl/vpro/netinnederland/h264/
download.url.ext=m4v

# subtitle config
subtitle.url=http://e.omroep.nl/tt888/
subtitle.url.backup=http://files.vpro.nl/netinnederland/subtitles/nl/
subtitle.basepath=/home/omroep/vpro_admin/files.vpro.nl/pages/netinnederland/subtitles

# amara config
amara.api.username=netinnl
amara.api.key=d954ca4bf7af0e7d4fb8a7313109a3f8d5829656
amara.api.team=netinnederland-staging
amara.api.url=https://staging.amara.org/
amara.api.video.default.project=current
amara.api.primary_audio_language_code=nl

# amara subtitles
amara.subtitles.title.default=Oorspronkelijk ondertiteling
amara.subtitles.description.default=Originele NL ondertiteling uit POMS
amara.subtitles.format=vtt
amara.subtitles.action.default=complete

# amara tasks
amara.task.target.languages=en,ar
amara.task.user.default=netinnl
amara.task.type.in=Translate
amara.task.type.out=Approve
amara.task.fetchlastperiod.seconds=3600000

# database
db.filepath=/Users/joost/Projects/vpro/database/db.csv

#  process lockfile
process.lock.filepath=/Users/joost/Projects/vpro/database/amarapomspublisher.lockfile
process.lock.expire.seconds=1
