<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="file" class="org.apache.log4j.RollingFileAppender">
    <param name="MaxFileSize" value="20MB"/>
    <param name="MaxBackupIndex" value="10"/>
    <param name="File" value="./amara_poms_publisher.log"/>
    <param name="Append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p %c{1} %M.%L - %m%n"/>
    </layout>
  </appender>

  <logger name="net.schmizz.sshj.DefaultConfig">
    <level value="ERROR" />
  </logger>
  <logger name="net.schmizz.sshj.transport.verification.OpenSSHKnownHosts">
    <level value="FATAL"/>
  </logger>
  <root>
    <level value="INFO"/>
    <appender-ref ref="file"/>
  </root>
</log4j:configuration>
