{
   "id":"F8i3LbQkBbeG",
   "video_type":"H",
   "primary_audio_language_code":"nl",
   "original_language":"nl",
   "title":"Nederland van boven // 24 uur Nederland",
   "description":"Er wordt 24 uur lang gekeken hoe onze dagelijkse patronen en ritmes eruit zien. Vanuit de lucht is te zien dat de ogenschijnlijk chaotische mierenhoop waarin we ons met ruim 16 miljoen mensen bewegen, volgens voorspelbare patronen strak geordend is georganiseerd. Hoe en door wie wordt ons land draaiende gehouden? Water uit de kraan, de dagelijkse gang naar het werk, het mobiele telefoonverkeer; als het stilvalt zijn we ten einde raad. Wie zit er aan de knoppen om alles in goede banen te leiden?",
   "duration":1829,
   "thumbnail":"http://www.mobinat.com/customer/netinnederland/thumbnails/VPWON_1152046.png",
   "created":"2016-03-21T03:46:32Z",
   "team":"netinnederland-staging",
   "project":"current",
   "all_urls":[
      "http://download.omroep.nl/vpro/netinnederland/h264/VPWON_1152041.m4v"
   ],
   "metadata":{
      "speaker-name":"test",
      "location":"test"
   },
   "languages":[
      {
         "code":"en",
         "name":"English",
         "visible":false,
         "dir":"ltr",
         "subtitles_uri":"https://staging.amara.org/api/videos/F8i3LbQkBbeG/languages/en/subtitles/",
         "resource_uri":"https://staging.amara.org/api/videos/F8i3LbQkBbeG/languages/en/"
      },
      {
         "code":"nl",
         "name":"Dutch",
         "visible":true,
         "dir":"ltr",
         "subtitles_uri":"https://staging.amara.org/api/videos/F8i3LbQkBbeG/languages/nl/subtitles/",
         "resource_uri":"https://staging.amara.org/api/videos/F8i3LbQkBbeG/languages/nl/"
      }
   ],
   "urls_uri":"https://staging.amara.org/api/videos/F8i3LbQkBbeG/urls/",
   "subtitle_languages_uri":"https://staging.amara.org/api/videos/F8i3LbQkBbeG/languages/",
   "resource_uri":"https://staging.amara.org/api/videos/F8i3LbQkBbeG/"
}
