{
    "meta": {
        "previous": null,
        "next": "https://amara.org/api/activity/?limit=20&offset=20&team=netinnederland&type=8",
        "offset": 0,
        "limit": 20,
        "total_count": 102
    },
    "objects": [
        {
            "id": 6834897,
            "type": 8,
            "created": "2016-04-08T15:42:28Z",
            "video": "xsBMA9dnjW30",
            "video_uri": "https://amara.org/api/videos/xsBMA9dnjW30/",
            "language": "ar",
            "language_url": "https://amara.org/api/videos/xsBMA9dnjW30/languages/ar/",
            "user": "mohammed-abdulrahman",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6834897/"
        },
        {
            "id": 6833340,
            "type": 8,
            "created": "2016-04-08T13:22:17Z",
            "video": "ogUGflAMOIS6",
            "video_uri": "https://amara.org/api/videos/ogUGflAMOIS6/",
            "language": "ar",
            "language_url": "https://amara.org/api/videos/ogUGflAMOIS6/languages/ar/",
            "user": "mohammed-abdulrahman",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6833340/"
        },
        {
            "id": 6833023,
            "type": 8,
            "created": "2016-04-08T12:32:47Z",
            "video": "yFDo7WeIYQav",
            "video_uri": "https://amara.org/api/videos/yFDo7WeIYQav/",
            "language": "ar",
            "language_url": "https://amara.org/api/videos/yFDo7WeIYQav/languages/ar/",
            "user": "mohammed-abdulrahman",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6833023/"
        },
        {
            "id": 6832871,
            "type": 8,
            "created": "2016-04-08T12:09:38Z",
            "video": "ZXKa3ZBRwwaU",
            "video_uri": "https://amara.org/api/videos/ZXKa3ZBRwwaU/",
            "language": "en",
            "language_url": "https://amara.org/api/videos/ZXKa3ZBRwwaU/languages/en/",
            "user": "Jasmijnalkemade",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6832871/"
        },
        {
            "id": 6832395,
            "type": 8,
            "created": "2016-04-08T10:48:16Z",
            "video": "uRIKsyjI6zEI",
            "video_uri": "https://amara.org/api/videos/uRIKsyjI6zEI/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/uRIKsyjI6zEI/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6832395/"
        },
        {
            "id": 6832394,
            "type": 8,
            "created": "2016-04-08T10:48:16Z",
            "video": "uRIKsyjI6zEI",
            "video_uri": "https://amara.org/api/videos/uRIKsyjI6zEI/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/uRIKsyjI6zEI/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6832394/"
        },
        {
            "id": 6827982,
            "type": 8,
            "created": "2016-04-07T18:38:58Z",
            "video": "GApiSZ379qCC",
            "video_uri": "https://amara.org/api/videos/GApiSZ379qCC/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/GApiSZ379qCC/languages/nl/",
            "user": "wivaku",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6827982/"
        },
        {
            "id": 6826526,
            "type": 8,
            "created": "2016-04-07T15:21:59Z",
            "video": "iRwfpdAKDAmO",
            "video_uri": "https://amara.org/api/videos/iRwfpdAKDAmO/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/iRwfpdAKDAmO/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6826526/"
        },
        {
            "id": 6826525,
            "type": 8,
            "created": "2016-04-07T15:21:59Z",
            "video": "iRwfpdAKDAmO",
            "video_uri": "https://amara.org/api/videos/iRwfpdAKDAmO/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/iRwfpdAKDAmO/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6826525/"
        },
        {
            "id": 6826494,
            "type": 8,
            "created": "2016-04-07T15:18:09Z",
            "video": "luEkac4y8ZQg",
            "video_uri": "https://amara.org/api/videos/luEkac4y8ZQg/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/luEkac4y8ZQg/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6826494/"
        },
        {
            "id": 6826493,
            "type": 8,
            "created": "2016-04-07T15:18:09Z",
            "video": "luEkac4y8ZQg",
            "video_uri": "https://amara.org/api/videos/luEkac4y8ZQg/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/luEkac4y8ZQg/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6826493/"
        },
        {
            "id": 6826428,
            "type": 8,
            "created": "2016-04-07T15:12:19Z",
            "video": "w5MUYsvo9v1g",
            "video_uri": "https://amara.org/api/videos/w5MUYsvo9v1g/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/w5MUYsvo9v1g/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6826428/"
        },
        {
            "id": 6826427,
            "type": 8,
            "created": "2016-04-07T15:12:19Z",
            "video": "w5MUYsvo9v1g",
            "video_uri": "https://amara.org/api/videos/w5MUYsvo9v1g/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/w5MUYsvo9v1g/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6826427/"
        },
        {
            "id": 6826406,
            "type": 8,
            "created": "2016-04-07T15:10:04Z",
            "video": "ONrqvBoZogjJ",
            "video_uri": "https://amara.org/api/videos/ONrqvBoZogjJ/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/ONrqvBoZogjJ/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6826406/"
        },
        {
            "id": 6826405,
            "type": 8,
            "created": "2016-04-07T15:10:04Z",
            "video": "ONrqvBoZogjJ",
            "video_uri": "https://amara.org/api/videos/ONrqvBoZogjJ/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/ONrqvBoZogjJ/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6826405/"
        },
        {
            "id": 6826354,
            "type": 8,
            "created": "2016-04-07T15:02:45Z",
            "video": "S53eSt2t35b9",
            "video_uri": "https://amara.org/api/videos/S53eSt2t35b9/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/S53eSt2t35b9/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6826354/"
        },
        {
            "id": 6826353,
            "type": 8,
            "created": "2016-04-07T15:02:45Z",
            "video": "S53eSt2t35b9",
            "video_uri": "https://amara.org/api/videos/S53eSt2t35b9/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/S53eSt2t35b9/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6826353/"
        },
        {
            "id": 6824942,
            "type": 8,
            "created": "2016-04-07T11:23:11Z",
            "video": "cLADRe0HqRdQ",
            "video_uri": "https://amara.org/api/videos/cLADRe0HqRdQ/",
            "language": "en",
            "language_url": "https://amara.org/api/videos/cLADRe0HqRdQ/languages/en/",
            "user": "TimFisher",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6824942/"
        },
        {
            "id": 6824662,
            "type": 8,
            "created": "2016-04-07T10:30:11Z",
            "video": "XK0vaGjiqjWd",
            "video_uri": "https://amara.org/api/videos/XK0vaGjiqjWd/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/XK0vaGjiqjWd/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6824662/"
        },
        {
            "id": 6824661,
            "type": 8,
            "created": "2016-04-07T10:30:11Z",
            "video": "XK0vaGjiqjWd",
            "video_uri": "https://amara.org/api/videos/XK0vaGjiqjWd/",
            "language": "nl",
            "language_url": "https://amara.org/api/videos/XK0vaGjiqjWd/languages/nl/",
            "user": "netinnl",
            "comment": null,
            "new_video_title": "",
            "resource_uri": "https://amara.org/api/activity/6824661/"
        }
    ]
}
