{
    "meta": {
        "previous": null,
        "next": null,
        "offset": 0,
        "limit": 20,
        "total_count": 18
    },
    "objects": [
        {
            "id": 1018709,
            "video_id": "SQynhhjT50c6",
            "language": "en",
            "type": "Translate",
            "assignee": "wivaku",
            "priority": 0,
            "completed": "2016-03-25T22:10:37Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018709/"
        },
        {
            "id": 1018836,
            "video_id": "5k9DMx7EeTG4",
            "language": "ar",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T10:11:37Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018836/"
        },
        {
            "id": 1018881,
            "video_id": "cs8qqZIqq8GV",
            "language": "en",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T10:39:48Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018881/"
        },
        {
            "id": 1018803,
            "video_id": "ucqroIunyCaI",
            "language": "ar",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T10:45:35Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018803/"
        },
        {
            "id": 1018884,
            "video_id": "DgwiSeB7R4AR",
            "language": "en",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T10:52:36Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018884/"
        },
        {
            "id": 1018878,
            "video_id": "txwTkvDU7RtR",
            "language": "en",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T10:56:23Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018878/"
        },
        {
            "id": 1018827,
            "video_id": "ydpNtVzE7Iv8",
            "language": "ar",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T10:56:37Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018827/"
        },
        {
            "id": 1018888,
            "video_id": "QKdrtFZ3UQH5",
            "language": "en",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T10:57:12Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018888/"
        },
        {
            "id": 1018875,
            "video_id": "6H6XdUWtJyI2",
            "language": "en",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T10:57:30Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018875/"
        },
        {
            "id": 1018872,
            "video_id": "dwQuQqbMIL6Q",
            "language": "en",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T11:11:44Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018872/"
        },
        {
            "id": 1018863,
            "video_id": "XFMiUuL37KXm",
            "language": "en",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T11:12:28Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018863/"
        },
        {
            "id": 1018801,
            "video_id": "za5ySbzrzNzT",
            "language": "ar",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T11:17:09Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018801/"
        },
        {
            "id": 1018802,
            "video_id": "JlwnwVHYkXEo",
            "language": "ar",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T11:20:01Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018802/"
        },
        {
            "id": 1018848,
            "video_id": "Sm5C8RIgx6LL",
            "language": "en",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T11:22:49Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018848/"
        },
        {
            "id": 1018794,
            "video_id": "UWOvsbKEyJ1G",
            "language": "ar",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T11:29:56Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018794/"
        },
        {
            "id": 1018842,
            "video_id": "A1D7S9DHDnE3",
            "language": "en",
            "type": "Translate",
            "assignee": "netinnl-test",
            "priority": 0,
            "completed": "2016-04-01T11:48:01Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018842/"
        },
        {
            "id": 1018977,
            "video_id": "G3CnVJdMw21Y",
            "language": "en",
            "type": "Translate",
            "assignee": "wivaku",
            "priority": 0,
            "completed": "2016-04-07T14:00:50Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1018977/"
        },
        {
            "id": 1019016,
            "video_id": "30pq5xsCEHA2",
            "language": "en",
            "type": "Translate",
            "assignee": "wivaku",
            "priority": 0,
            "completed": "2016-04-08T14:00:07Z",
            "approved": null,
            "resource_uri": "https://staging.amara.org/api/teams/netinnederland-staging/tasks/1019016/"
        }
    ]
}
